<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/Nav.css"/>
        <link rel="stylesheet" href="/Footer.css"/>
        <title>Node.js Express MongoDB CRUD</title>
        {{!-- <style>
            html,body{
                height:100%;
            }
        </style> --}}
    </head>
    <body class="bg-info">
        <div class="row h-100 align-items-center">
            <header>
            <div class ="header" style ="transform: translateX(0px);">
            <div class ="header_logo">
                <div class = "navbar-brand">
                </div>
            </div>
            <div class ="header_navwarp">
                <div class ="header_navbar>">
                    <a href="" class = "header_navitem" style ="text-decoration: none;">Home</a>
                    <a href="" class = "header_navitem" style ="text-decoration: none;">Add New</a>
                    <div class ="header_navitem header_navitem_more">
                        <p style = "display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px;   margin-inline-end: 0px;">Support</p>
                        <ul class ="header_navitem_sublist" >
                            <li> <a href="" class = "header_navlink" style ="text-decoration: none">About Us</a> </li>
                            <li> <a href="" class = "header_navlink" style ="text-decoration: none;">Contact Us</a> </li>
                            <li> <a href="" class = "header_navlink" style ="text-decoration: none;">Privacy Policy</a> </li>
                            <li> <a href="" class = "header_navlink" style ="text-decoration: none;">Events</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</header>
            <body>
                <div>
                    {{{body}}}
                </div>
            </body>
        </div>
    </body>
    <footer>
        <div class = "footer">
                <div class="containerrow">
                    <div class ="row1">
                        <div class ="footer-col">
                        <h4>My Shop</h4>
                        <ul class ="ul">
                            <li><a href ="">About us</a></li>
                            <li><a href ="">Our Service</a></li>
                            <li><a href ="">Privacy policy</a></li>
                            <li><a href ="">Events program</a></li>
                        </ul>
                    </div>
                    <div class ="footer-col">
                        <h4>Get Help</h4>
                        <ul class ="ul">
                            <li><a href ="">FAQ</a></li>
                            <li><a href ="">Shipping</a></li>
                            <li><a href ="">Order status</a></li>
                            <li><a href ="">Payment options</a></li>
                        </ul>
                    </div>
                    <div class ="footer-col">
                        <h4>Best Seller</h4>
                        <ul class ="ul">
                            <li><a href ="">Filter coffee</a></li>
                            <li><a href ="">Coffee</a></li>
                            <li><a href ="">Dessert</a></li>
                            <li><a href ="">IceCream</a></li>
                        </ul>
                    </div>
                    <div class ="footer-col">
                        <h4>Follow Us</h4>
                        <div class ="social-links">
                            <a href ="https://www.facebook.com/profile.php?id=100011365778127"><i class="fab fa-facebook"></i></a>
                            <a href ="https://twitter.com/phiLm44301299"><i class="fab fa-twitter"></i></a>
                            <a href ="https://www.instagram.com/khang0949/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>