      {{#each list}}
        <div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
        <a href="">
            <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Lights" style="width:100%">
            <div class="caption">
            <p>{{ this.Price}}</p>
            <p>{{ this.Quantity}}</p>
            <p>{{ this.Description}}</p>
            <p>{{ this.Category}}</p>
            </div>
        </a>
        </div>
    </div>
{{/each}}    




    
