<div class="container">
<div class ="contact-section">
    <div class ="contact-info">
        <div><i class="fa-solid fa-map-location-dot"></i> Address: APT Store: 445/7, Duong Bach Dang, Phuong Nha Mat, TP Bac Lieu</div>
        
        <div><i class="fa-solid fa-envelope"></i> Email: phinhamat100@gmail.com</div>

        <div><i class="fa-solid fa-phone"></i> Phone: 0813333943</div>

        <div><i class="fa-solid fa-file-signature"></i> Comment at <a href="" style = " text-decoration: none">At Here</a></div>
    </div>
    <div class ="contact-form">
        <h2 style="margin-left: 100px;">Figure & Toy</h2>
    <iframe src="https://mms.businesswire.com/media/20200727005200/en/805275/5/nouveautees_2020-05.jpg" width="600" height="450" style="border:0; margin-left: 100px" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
</div>